<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This project is coded for <a href="http://www.railsarena.com/">Rails Arena</a> with Ruby on Rails. <br>
It is a simple web applications that allows you to add friends and lend or borrow moneys to them. You will be able to keep track of the transactions and post them to a social media.
</p>