<% provide(:title, 'Listing Friends') %>
<h1>All friends</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @friends %>
</ul>

<%= will_paginate %>

<br>
<%= link_to 'New Friend', new_friend_path %>
