<% provide(:title, "Transactions") %>

<div class="row">
  <aside class="span4">
	<section>
      	<%= render 'shared/user_info' %>
	<section>
	<%= render 'shared/stats' %>
	  <% if @friends.any? %>
	   <div class="user_avatars">
         <% @friends.each do |friend| %>
         <%= link_to gravatar_for(friend, size: 30), '/friends/' + friend.id.to_s %>
         <% end %>
       </div>
     <% end %>
	</section>
  </aside>


<div class="span8">
	<%= render 'shared/transactionsindex' %>
</div>