<h3>Active Transactions (<%= @user.transactions.where(:status => 0).count %>)</h3><br>
<% if @user.transactions.any? %>
  
  <ol class="transactions">
    <%= render @transactions %>
  </ol>
  <%= will_paginate @transactions %>
<% else %>
You don't have any transactions. <br>Why don't you add from <%= link_to "here ?", transactions_url %>
<% end %>