
@charset "utf-8";
	
	* {
	padding:0; 
	margin:0; 
	border:0;
}

.inner{
	overflow: hidden;
    padding: 40px 40px 30px;
	width:70%;
	margin:0 auto;
}

table{
	border-collapse:collapse;
	padding:0px;margin:0;}
	
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden}
	
p {/*color: #6b6b6b;*/
    line-height: 19px;
	font-size:13px;
	margin-bottom:30px;
}
.pricing_table {padding: 0 0 40px;}

.lend_table table {
	width: 100%;
}
	
.w_table_l_grey{
	background-color:#e1e1e1
}
.w_table_d_grey{
	background-color:#eeeeee
}

.lend_table table th {
	border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    color: #2F2F2F;
    height: 65px;}

.lend_table table th a {
    font-size: 24px;
    }
	
.lend_table table th span{
	color: #23B0F1;
    font-size: 24px;}
	
.lend_table table tr {
	height: 20px;
    text-align: center;}
	
.lend_table table .grey {
	background-color:#e9e9e9;}
	
.lend_table table tr td {
	border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    font-weight: bold;}

.lend_table table .btn td {
	border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;}
	
.lend_table table tr .border_blue {
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	background: #ededed;}
	
.lend_table table tr th.border_blue {
	border-left: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;}

.lend_table table tr .border_blue_bottom {
	border-bottom: 1px solid #d7d7d7;}
.lend_table table tfoot td.border_blue{
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}
	
.lend_table .pricing_btn {
	border-bottom: 1px solid #D5D5D5;
    height: 80px !important;
	text-align:center;
}
	
.pricing_btn .the_button{
    float: none;
    margin-top: 0;
}
	
.lend_table .pricing_btn .pricing_btn_orbed {
    clear: both;
    display: block;
    float: left;
    height: 44px;
    margin: 0 0 0 52px;
    padding-left: 13px;}
	
.lend_table .pricing_btn .pricing_btn_orbed span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 24px;
    height: 44px;
    line-height: 45px;
    min-width: 100px;
    padding: 0 10px 0 0;}
	
.borrow_table {margin: 0 0 0;}

.borrow_table .the_button{
	border:#1b1b1b solid 1px !important;
}
	
.borrow_table table {
	width: 100%;
	background-color: #484848}
	
.d_table_l_grey{
	background-color:#303030
}
.d_table_d_grey{
	background-color:#3a3a3a
}
	
.borrow_table table th {
	border-left: 1px solid #252525;
    border-right: 1px solid #252525;
    color: #ffffff;
    height: 65px;}

.borrow_table table th a{
    font-size: 24px;}	
	
	
.borrow_table table th span {
	color: #a9a9a9;
    font-size: 24px;}
	
.borrow_table table tr{
	height: 20px;
    text-align: center;}
	
.borrow_table table .grey {
	background-color:#3a3a3a;}
	
.borrow_table table tr td {
	border-left: 1px solid #252525;
    border-right: 1px solid #252525;
    color: #FFFFFF;
    font-weight: bold;}

.borrow_table .pricing_btn {height: 80px !important;}
	
.pricing_black_btn {
    border: 1px solid #454545;
    color: #FFFFFF;
    font-size: 24px;
    height: 44px;
    padding: 9px 10px;}	

.pricing_blue_btn {
    color: #FFFFFF;
    font-size: 24px;
    height: 44px;
    padding: 9px 10px;}	

.the_button {
	border-bottom: 1px solid #9f9f9f;
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	float: left;
	color: #050505;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 33px;
	letter-spacing: -0.7px;
	line-height: 33px;
	margin: 0;
	text-align: center;
	width: auto;
	padding:0 15px;
	position:relative;
	z-index:1002;
	
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	background: #dddddd;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#dddddd));
	background: -webkit-linear-gradient(#ffffff, #dddddd);
	background: -moz-linear-gradient(#ffffff, #dddddd);
	background: -ms-linear-gradient(#ffffff, #dddddd);
	background: -o-linear-gradient(#ffffff, #dddddd);
	background: linear-gradient(#ffffff, #dddddd);
	-pie-background: linear-gradient(#ffffff, #dddddd);	
}
	
.the_button:hover, .the_button.active {
	color: #ffffff;	
	border-bottom: 1px solid #9f9f9f;
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	
	background: #2e2e2e;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2e2e2e), to(#2e2e2e));
	background: -webkit-linear-gradient(#2e2e2e, #2e2e2e);
	background: -moz-linear-gradient(#2e2e2e, #2e2e2e);
	background: -ms-linear-gradient(#2e2e2e, #2e2e2e);
	background: -o-linear-gradient(#2e2e2e, #2e2e2e);
	background: linear-gradient(#2e2e2e, #2e2e2e);
	-pie-background: linear-gradient(#2e2e2e, #2e2e2e);  
	}
	
	a {
	font-family:trebuchet MS;
	font-size:13px;
	font-weight:normal;
	text-decoration: none;
    outline: medium none;
	color:#000;}

















#transactions .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#transactions #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#transactions ul {
  font-size: 11px;
  padding-left: 20px;
}