<li>
  <span class="content"><%= link_to Friend.find(transaction.friend_id).name, '/friends/' + Friend.find(transaction.friend_id).id.to_s %></span>
  <span class="timestamp">
	Deadline is in <%= time_diff_in_natural_language(Time.now, transaction.deadline) %>
  </span>
</li>