<% provide(:title, "Transactions") %>

<div class="row">
  <aside class="span4">	
	<% if @transactions.any? %>
	<%= render 'shared/transactions' %>
	<% end %>  
</aside>
<div class="span8">
	<%= render 'shared/calendarview' %>  
</div>


